.footer {
  background: var(--color-surface);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76px;
  padding: 0 space('4');

  @include media-down('md') {
    height: auto;
    padding: space('4');
  }
}

.copyright {
  font-family: $font-family-alt;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.44);

  @include media-down('sm') {
    font-size: 11px;
    letter-spacing: 1px;
  }
}
